In [2]:
!pwd

/Users/jasonssdev/Dev/Learning/UC/mcd-data-analysis

In [3]:
from utils.paths import PROJECT_ROOT, DATA_RAW_DIR

In [4]:
data_path = str(DATA_RAW_DIR / "datos.xls")
print(f"Data path: {data_path}")

Data path: /Users/jasonssdev/Dev/Learning/UC/mcd-data-analysis/data/raw/datos.xls

In [5]:
import pandas as pd

### Import all dataframes

In [7]:
df_grd = pd.read_excel(io=data_path,
                    sheet_name="GRD",
                    header=0,
                    index_col=None)

df_hospitales = pd.read_excel(io=data_path,
                            sheet_name="Hospitales",
                            header=0,
                            index_col=None)

df_informacion_historica = pd.read_excel(io=data_path,
                                        sheet_name="Información Histórica",
                                        header=0,
                                        index_col=None)

df_clase_1 = pd.read_excel(io=data_path,
                        sheet_name="Clase 1",
                        header=0,
                        index_col=None)

1. ¿Cuál de las siguientes opciones corresponde al código que permite calcular el total de camas críticas para cada uno de los servicios de salud?

In [8]:
df_hospitales[["Nombre Servicio de Salud", "Total Camas Críticas"]].groupby("Nombre Servicio de Salud").sum()

                                                    Total Camas Críticas
Nombre Servicio de Salud
Metropolitano Central                                                105
Metropolitano Norte                                                   44
Metropolitano Occidente                                              120
Metropolitano Oriente                                                137
Metropolitano Sur                                                    173
Metropolitano Sur Oriente                                            127

2. ¿Cuáles de los siguientes servicios de salud son los tres servicios que tienen más camas críticas?

In [9]:
df_hospitales[["Nombre Servicio de Salud", "Total Camas Críticas"]].groupby("Nombre Servicio de Salud").sum().sort_values(by="Total Camas Críticas", ascending=False)

                                                    Total Camas Críticas
Nombre Servicio de Salud
Metropolitano Sur                                                    173
Metropolitano Oriente                                                137
Metropolitano Sur Oriente                                            127
Metropolitano Occidente                                              120
Metropolitano Central                                                105
Metropolitano Norte                                                   44

In [10]:
df_hospitales[["Nombre Servicio de Salud", "Total Camas Críticas"]].groupby("Nombre Servicio de Salud").sum().nlargest(3, "Total Camas Críticas")

                                                    Total Camas Críticas
Nombre Servicio de Salud
Metropolitano Sur                                                    173
Metropolitano Oriente                                                137
Metropolitano Sur Oriente                                            127

3. ¿Cuál de los siguientes códigos permite calcular el costo promedio diario de atención para el GRD4?

In [11]:
df_hospitales["Costo diario GRD4 [MM$]"].mean()

np.float64(0.4484761904761904)

4. ¿Cuál de las siguientes alternativas corresponde al promedio diario (redondeado con 0 decimales) de pacientes que han llegado a la red durante los últimos 10 días (desde el día 415 al día 424)?

In [12]:
df_informacion_historica.head()

,Número de llegada,Hospital al que llega,GRD,Día de llegada,Día de salida,Estadia
0,1,Instituto Traumatológico Dr. Teodoro Gebauer,GRD3,1,4,3
1,2,Hospital Clínico San Borja-Arriarán,GRD7,1,5,4
2,3,Hospital Dr. Luis Tisné B.,GRD7,1,5,4
3,4,Hospital Dr. Exequiel González Cortés,GRD10,1,11,10
4,5,Hospital Barros Luco Trudeau,GRD6,1,6,5

In [13]:
data = df_informacion_historica[(df_informacion_historica["Día de llegada"] >= 415) & (df_informacion_historica["Día de llegada"] <= 424)]

In [16]:
promedio_ultimos_10_dias = round(
    data[["Día de llegada", "GRD"]].groupby("Día de llegada").size().mean(), 0)
promedio_ultimos_10_dias

np.float64(154.0)

5. ¿Cuál de las siguientes alternativas indica el promedio del costo diario de resolución de los 3 GRDs más costosos en clínica privada?

In [17]:
df_largest =  df_grd.nlargest(3, "Costo resolución en Clínica Privada [MM$]")
df_largest["Costo resolución en Clínica Privada [MM$]"].mean()

np.float64(7.538333333333334)

6. ¿Cuál de los siguientes códigos permite calcular la cantidad de días de estadía promedio, por GRD, para los pacientes ingresados durante los últimos 10 días registrados en el archivo (y entonces, desde el día 415 al día 424)?

In [30]:
estadia_promedio = df_informacion_historica[(df_informacion_historica["Día de llegada"] >= 415)].groupby("GRD").mean(numeric_only=True).reset_index()

estadia_promedio

     GRD  Número de llegada  Día de llegada  Día de salida  Estadia
0   GRD1       64856.178808      419.874172     429.874172     10.0
1  GRD10       64812.290909      419.557576     429.557576     10.0
2   GRD2       64710.425806      419.006452     423.006452      4.0
3   GRD3       64709.131737      418.946108     421.946108      3.0
4   GRD4       64775.471014      419.362319     425.362319      6.0
5   GRD5       64819.895105      419.671329     423.671329      4.0
6   GRD6       64737.105590      419.136646     424.136646      5.0
7   GRD7       64746.628571      419.194286     423.194286      4.0
8   GRD8       64735.516779      419.147651     423.147651      4.0
9   GRD9       64725.191489      419.092199     424.092199      5.0

7. ¿Cuál de las siguientes alternativas corresponde a la diferencia entre el menor y el mayor costo de operación anual de una cama crítica en el sistema de salud (considerando todos los servicios de salud)?

In [31]:
df_hospitales["Costo de operación anual de una cama [MM$]"].max()

66.1

In [32]:
df_hospitales["Costo de operación anual de una cama [MM$]"].min()

36.6

In [33]:
df_hospitales["Costo de operación anual de una cama [MM$]"].max() - df_hospitales["Costo de operación anual de una cama [MM$]"].min()

29.499999999999993

8. ¿Cuál de las siguientes alternativas indica la cantidad de pacientes que llegaron a la red de salud el día en que llegaron más pacientes?

In [34]:
df_informacion_historica.groupby("Día de llegada").size().sort_values(ascending=False).nlargest(1)

Día de llegada
420    183
dtype: int64

9. ¿Cuál de las siguientes alternativas corresponde al código que permite determinar el promedio del total de camas críticas de cada servicio de salud de la red?

In [35]:
df_hospitales[["Nombre Servicio de Salud", "Total Camas Críticas"]].groupby("Nombre Servicio de Salud").mean()

                                                    Total Camas Críticas
Nombre Servicio de Salud
Metropolitano Central                                              35.00
Metropolitano Norte                                                44.00
Metropolitano Occidente                                            30.00
Metropolitano Oriente                                              34.25
Metropolitano Sur                                                  34.60
Metropolitano Sur Oriente                                          31.75

10. ¿Cuál de las siguientes alternativas corresponde al código para determinar el costo de instalar las 3 camas nuevas menos costosas en cada servicio de salud?

In [36]:
df_hospitales[["Nombre Servicio de Salud", "Costo de instalar una cama [MM$]"]].groupby("Nombre Servicio de Salud").min() * 3

                                                    Costo de instalar una cama [MM$]
Nombre Servicio de Salud
Metropolitano Central                                                           3768
Metropolitano Norte                                                             4221
Metropolitano Occidente                                                         3198
Metropolitano Oriente                                                           3168
Metropolitano Sur                                                               3153
Metropolitano Sur Oriente                                                       3084

In [37]:
costo_camas = df_hospitales[[
    "Nombre Servicio de Salud", "Costo de instalar una cama [MM$]"
]].groupby("Nombre Servicio de Salud").min()
costo_camas

                                                    Costo de instalar una cama [MM$]
Nombre Servicio de Salud
Metropolitano Central                                                           1256
Metropolitano Norte                                                             1407
Metropolitano Occidente                                                         1066
Metropolitano Oriente                                                           1056
Metropolitano Sur                                                               1051
Metropolitano Sur Oriente                                                       1028

In [38]:
costo_camas["costo 3 camas nuevas"] = costo_camas["Costo de instalar una cama [MM$]"] * 3

In [39]:
costo_camas

,Costo de instalar una cama [MM$],costo 3 camas nuevas
Nombre Servicio de Salud,,
Metropolitano Central,1256,3768
Metropolitano Norte,1407,4221
Metropolitano Occidente,1066,3198
Metropolitano Oriente,1056,3168
Metropolitano Sur,1051,3153
Metropolitano Sur Oriente,1028,3084